
@charset "utf-8";

/* Box Sizing Reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

body {
  min-height: 125vh;
  min-width: 400px;
  background: linear-gradient(to bottom, rgb(227, 224, 34) 0%,rgb(233, 115, 25) 100%);

}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin-bottom: 5rem;
}

main .color-blob {
  position: absolute;
  filter: blur(120px);
}



.number-cicular{
  border-radius: 50%;
  display: inline-block;
  width: 34px;
  height: 34px;
  padding: 8px;
  background: darkblue;
  color: white;
  text-align: center;
  margin-right: 10px;
}

select{
  width: 100%;
  height: 30px;
  background-color: lightgray

}
textarea{
  width:100%;
  height: 100px;
  background-color: lightgray
  
}



.form-container {
  position: relative;
  min-width: 400px;
  min-height: 500px;
  max-width: 480px;
  display: flex;
  justify-content: center;
  background:white;
  /* background: white; */
  /* opacity: 0.2; */
  border-radius: 1em;
  box-shadow: 5px 25px 50px rgba(0,0,0,0.15), inset -8px -15px 10px rgba(255,255,255,0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 3rem;
}

.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.form h2 {
  position: relative;
  color: darkblue;
  font-size: 2em;
  font-weight: 600;
  text-shadow: 1px 2px 4px #888;
  margin-bottom: 1em;
  font-weight: bold;
}

.form h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 3em;
  height: 0.1em;
  background: darkblue;
  box-shadow: 1px 2px 4px #CCC;
}

.form input, .form textarea {
  width: 100%;
  background: lightgray;
  outline: none;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: black;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  margin-top: 0.3em;
}
.form input[type="reset"] {
  background: white;
  color: darkorange;
  border: solid rgba(54, 54, 52, 0.6);
  border-width: thin;
}

.form input:focus, .form textarea:focus {
  background: white;
  border: 3px solid rgb(227, 224, 34);;
}

.form input::placeholder {
  color: #888;
  opacity: 1;

}

.form input[type="submit"] {
  background: darkblue;
  color: white;
  max-width: 100%;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 20px;
}

.form label {
  display: block;
  font-weight: 600;
  margin-top: 0.6rem;
}


fieldset {
  border: none;
  border-top: 0.1rem solid black;
  margin-top: 1.5rem;
}
legend {
  margin-left: 2rem;
  padding: .5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

footer {
  position: fixed;
  bottom: 0.8em;
  width: 100%;
  text-align: right;
  padding-right: 1em;
}

input[type='checkbox'], input[type='radio'] {
  display: inline-block;
  width: fit-content;
}

input[type='checkbox'] + label, input[type='radio'] + label {
  display: inline-block;
  width: fit-content;
  margin-right: 2rem;
}


#detail
{
  display: none;
}
